.slider {
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.slide-list {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 100%;
    position: relative;
}

.slide-image {
    display: flex;
    max-height: 350px;
    width: 100%;
    object-fit: contain;
}

.slide-title {
    text-align: center;
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
}

.slide-message {
    max-width: 250px;
    /* font-size: smaller; */
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
}

.dots {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.dot {
    background-color: #999999;
    border-radius: 5px;
    height: 10px;
    margin: 5px;
    width: 10px;
}

.dot:hover {
    cursor: pointer;
}

.dot.selected {
    background-color: #101010;
}

.rsw_2Y {
    width: 100%;
    overflow: hidden;
}

.ball::after {
    content: '';
    z-index: 99999;
    position: absolute;
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    height: 0.8rem;
    width: 0.8rem;
    place-items: center;
    place-self: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: #aaa !important;
}

.steps {
    display: inline-grid;
    grid-auto-flow: column;
    overflow: hidden;
    overflow-x: auto;
    grid-auto-columns: 1fr;
}

.step-primary::after,
.step-primary::before {
    color: white;
    background-color: #aaa !important;
}

.step {
    display: grid;
    place-items: center;
    min-width: 15rem;
    font-size: 12px;
    cursor: pointer;
}

.step:first-of-type::before {
    display: none !important;
    width: 100%;
}

.step::before {
    top: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    height: 0.2rem;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: #ededed;
    --tw-text-opacity: 1;
    color: rgb(166, 173, 186);
    content: '';
    margin-left: -100%;
}

@media (max-width: 768px) {
    .step {
        min-width: 6rem;
    }
}

.onboard::-webkit-scrollbar {
    width: 0px;
}